.MenuPage {
  /* Basic styles for the page */
  .new-dishes {
    padding: 60px 0;

    .dish-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Chia thành 3 cột bằng nhau */
      gap: 20px; /* Khoảng cách giữa các thẻ */
      margin: 0 100px;
    }

    .dish-card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      text-align: center;

      img {
        width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của thẻ */
        height: 300px; /* Chiều cao cố định cho ảnh */
        object-fit: cover; /* Giữ tỷ lệ khung hình và cắt ảnh nếu cần */
        display: block;
      }

      .dish-name {
        margin: 5px 0;
        font-family: cursive;
        font-weight: bold;
      }

      .dish-price {
        padding: 0 10px;
        color: red;
        font-size: 30px;
        margin: 0;
        font-family: cursive;
        font-weight: bold;
      }

      .btn-danger {
        margin-bottom: 10px;
        font-size: 20px;
        font-family: cursive;
        font-weight: bold;
        height: 50px;
        width: 130px;
      }
    }
  }

  /* Phần category cố định khi cuộn */
  .sticky-category {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: none;
    z-index: 1000;
    /* Gỡ bỏ các thuộc tính transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .minicart-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    .minicart-content-trigger {
      background-color: #f8f9fad8;
      border: 1px solid #ddd;
      border-radius: 50px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .text {
        margin-right: 10px;
      }

      .counter {
        background-color: #ff3d00;
        color: white;
        border-radius: 50px;
        padding: 5px 10px;
        display: flex;
        align-items: center;

        .counter-number {
          margin-right: 5px;
        }
      }
    }

    .cart-content {
      position: absolute;
      bottom: 60px;
      right: 0;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      width: 300px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .cart-body {
        margin-top: 20px;
      }

      .cart-item {
        padding: 10px 0;
        border-bottom: 1px solid #eee;
      }
    }
  }
}

.best-sell {
  margin-top: 10px;
}

.dishes-title {
  font-weight: bold;
  font-family: cursive;
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
}
